.btn {
    font-size: 12px;
}
.btn-default {
    background-color: #95a5b5;
    border-color: #95a5b5;
    color: #fff;
    cursor: pointer;
}
.form-control {
    padding: 3px 9px;
    font-size: 13px;
}
.top_nav .navbar-right {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.has-error .help-block {
    color: red;
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    margin-left: 2px;
}
.form-group .intl-tel-input {
    width: 100%;
}

#online-connection-indicator .success {
    color: green;
}
#online-connection-indicator .danger {
    color: red;
}
#online-connection-indicator .warning {
    color: yellow;
}

pre {
    white-space: pre-wrap;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar-nav .notif .dropdown-menu.msg_list {
    width: 300px !important;
    transform: translate3d(-95px, 17px, 0px) !important;
}

a.asc, a.desc {
    color: #53a265;
}
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: "\e151";
}
a.desc:after {
    content: "\e152";
}
.export-wrapper .dropdown-menu li a {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: block;
}
.export-wrapper .dropdown-menu li a:hover {
    background-color: #c0c0c0;
}
.loan-application-index td span {
    line-height: initial;
}
.loan-application-index td .export-wrapper {
    display: flex;
}
.loan-application-index td .export-wrapper .btn-group {
    margin-right: 10px;
}