.swiper-slide.swiper-slide-bottom {
    background-position: center bottom;
}

.swiper-variant-1 .swiper-button-prev:hover, .swiper-variant-1 .swiper-button-next:hover {
    color: #579eab;
}


.swiper-container .swiper-button-prev.swiper-button-disabled, .swiper-container .swiper-button-next.swiper-button-disabled {
    opacity: 1;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
    height: auto;
}

.swiper-container .swiper-wrapper {
    height: auto;
    min-height: 36.25vw;
}

@media (min-width: 1600px) {
    .swiper-container .swiper-wrapper {
        height: auto;
        min-height: 696px;
    }
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    min-height: inherit;
}

.swiper-slide .shilder-header-with-divider {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Arvo", "Times New Roman", Times, serif;
    position: relative;
}

@media (min-width: 992px) {
    .swiper-slide .shilder-header-with-divider:before, .swiper-slide .shilder-header-with-divider:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        display: inline-block;
        height: 2px;
        width: 36px;
        background: #579eab;
    }
    .swiper-slide .shilder-header-with-divider:before {
        -webkit-transform: translate(-125%, -50%);
        transform: translate(-125%, -50%);
    }
    .swiper-slide .shilder-header-with-divider:after {
        -webkit-transform: translate(21%, -50%);
        transform: translate(21%, -50%);
    }
}

/* a11y */
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    transform: translateY(-50%);
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
    z-index: 10;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font: 400 20px/45px 'fl-flat-icons-set-2';
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
    background: rgba(50, 57, 63, 0.25);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #fff;
    background: rgba(50, 57, 63, 0.14);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev:before {
    content: '\e015';
}

.swiper-button-next:before {
    content: '\e015';
}

/* Pagination Styles */
.swiper-pagination-wrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, 0, 0);
    z-index: 10;
}

@media (min-width: 992px) {
    .swiper-pagination-wrap {
        bottom: 35px;
    }
}

@media (min-width: 1200px) {
    .swiper-pagination-wrap {
        bottom: 55px;
    }
}

.swiper-pagination {
    display: block;
    width: 100%;
    text-align: center;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

@media (min-width: 768px) {
    .swiper-pagination {
        text-align: left;
    }
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background: #cdcdcd;
    pointer-events: none;
    transition: all .2s ease-out;
}

.swiper-pagination-bullet + * {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        pointer-events: auto;
    }
    .swiper-pagination-bullet + * {
        margin-left: 20px;
    }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
    background: #579eab;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
}

.swiper-container-vertical > .swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    -moz-transform: translate3d(0px, -50%, 0);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: 20px;
    left: 0;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
}

/* 3D Container */
.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
    position: relative;
    -ms-touch-action: none;
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 5px;
    width: 100%;
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: #579eab;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt {
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    white-space: nowrap;
    background-position: center center;
    overflow: hidden;
    background-size: cover;
}

.swiper-slide:not(.vide):not(.rd-parallax):before,
.swiper-slide .parallax_cnt:before, .swiper-slide .vide__body:before {
    content: '';
    display: inline-block;
    height: 50%;
}

.swiper-slide-caption {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    margin-left: -.25em;
    vertical-align: middle;
    white-space: normal;
    z-index: 1;
}

.swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
    height: auto;
    min-height: calc(100vh - 56px);
}

.swiper-variant-1 .swiper-slide-caption {
    padding: 40px 0 40px;
}

.swiper-variant-1 .swiper-button-prev,
.swiper-variant-1 .swiper-button-next {
    display: none;
}

.swiper-variant-1 .slider-text {
    display: none;
}

.swiper-variant-1 .button {
    font-size: 18px;
    padding-left: 34px;
    padding-right: 34px;
}

@media (min-width: 768px) {
    .swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
        height: auto;
        min-height: 36.25vw;
    }
    .swiper-variant-1 .swiper-slide-caption {
        padding: 60px 0 115px;
    }
    .swiper-variant-1 .slider-header {
        font-size: 36px;
        margin-top: 20px;
    }
    .swiper-variant-1 .slider-text {
        display: block;
    }
}

@media (min-width: 992px) {
    .swiper-variant-1 .swiper-slide-caption {
        padding: 100px 0 155px;
    }
    .swiper-variant-1 .swiper-button-prev,
    .swiper-variant-1 .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-59%);
        z-index: 10;
        display: block;
        transition: .3s all ease;
    }
    .swiper-variant-1 .swiper-button-prev {
        left: 5.1%;
        transform: scale(-1, 1);
    }
    .swiper-variant-1 .swiper-button-next {
        right: 5.1%;
    }
}

@media (min-width: 1200px) {
    .swiper-variant-1 .slider-header {
        font-size: 50px;
    }
    .swiper-variant-1 .swiper-button-prev {
        left: calc(50vw - 1170px / 2 + 15px + (1170px / 12) * 0);
    }
    .swiper-variant-1 .swiper-button-next {
        right: calc(50vw - 1170px / 2 + 15px + (1170px / 12) * 0);
    }
}

@media (min-width: 1600px) {
    .swiper-variant-1 .swiper-button-prev {
        left: calc(50vw - 1170px / 2 - 65px + (1170px / 12) * 0);
    }
    .swiper-variant-1 .swiper-button-next {
        right: calc(50vw - 1170px / 2 - 65px + (1170px / 12) * 0);
    }
    .swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
        height: auto;
        min-height: 638px;
    }
}


.swiper-slide.swiper-slide-bottom {
    background-position: center bottom;
}

.swiper-variant-1 .swiper-button-prev:hover, .swiper-variant-1 .swiper-button-next:hover {
    color: #579eab;
}

.swiper-container .swiper-button-prev.swiper-button-disabled, .swiper-container .swiper-button-next.swiper-button-disabled {
    opacity: 1;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
    height: auto;
}

.swiper-container .swiper-wrapper {
    height: auto;
    min-height: 36.25vw;
}

@media (min-width: 1600px) {
    .swiper-container .swiper-wrapper {
        height: auto;
        min-height: 696px;
    }
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    min-height: inherit;
}

.swiper-slide .shilder-header-with-divider {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Arvo", "Times New Roman", Times, serif;
    position: relative;
}

@media (min-width: 992px) {
    .swiper-slide .shilder-header-with-divider:before, .swiper-slide .shilder-header-with-divider:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        display: inline-block;
        height: 2px;
        width: 36px;
        background: #409be6;
    }
    .swiper-slide .shilder-header-with-divider:before {
        -webkit-transform: translate(-125%, -50%);
        transform: translate(-125%, -50%);
    }
    .swiper-slide .shilder-header-with-divider:after {
        -webkit-transform: translate(21%, -50%);
        transform: translate(21%, -50%);
    }
}

/* a11y */
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    transform: translateY(-50%);
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
    z-index: 10;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font: 400 20px/45px 'fl-flat-icons-set-2';
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
    background: rgba(50, 57, 63, 0.25);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #fff;
    background: rgba(50, 57, 63, 0.14);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev:before {
    content: '\e015';
}

.swiper-button-next:before {
    content: '\e015';
}

/* Pagination Styles */
.swiper-pagination-wrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, 0, 0);
    z-index: 10;
}

@media (min-width: 992px) {
    .swiper-pagination-wrap {
        bottom: 35px;
    }
}

@media (min-width: 1200px) {
    .swiper-pagination-wrap {
        bottom: 55px;
    }
}

.swiper-pagination {
    display: block;
    width: 100%;
    text-align: center;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

@media (min-width: 768px) {
    .swiper-pagination {
        text-align: left;
    }
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background: #cdcdcd;
    pointer-events: none;
    transition: all .2s ease-out;
}

.swiper-pagination-bullet + * {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        pointer-events: auto;
    }
    .swiper-pagination-bullet + * {
        margin-left: 20px;
    }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
    background: #579eab;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
}

.swiper-container-vertical > .swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    -moz-transform: translate3d(0px, -50%, 0);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: 20px;
    left: 590px;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
}

/* 3D Container */
.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
    position: relative;
    -ms-touch-action: none;
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 5px;
    width: 100%;
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: #579eab;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt {
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    white-space: nowrap;
    background-position: center center;
    overflow: hidden;
    background-size: cover;
}

.swiper-slide:not(.vide):not(.rd-parallax):before,
.swiper-slide .parallax_cnt:before, .swiper-slide .vide__body:before {
    content: '';
    display: inline-block;
    height: 50%;
}

.swiper-slide-caption {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    margin-left: -.25em;
    vertical-align: middle;
    white-space: normal;
    z-index: 1;
}

.swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
     height: 100%;
    min-height: 553px;
}

.swiper-variant-1 .swiper-slide-caption {
    padding: 40px 0 40px;
}

.swiper-variant-1 .swiper-button-prev,
.swiper-variant-1 .swiper-button-next {
    display: none;
}

.swiper-variant-1 .slider-text {
    display: none;
}

.swiper-variant-1 .button {
    width: 40%;
    background-color: #579eab;
    border:none;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 34px;
    padding-right: 34px;
}
.swiper-variant-1 .button::after{
    content:'';
    
}

@media (min-width: 768px) {
    .swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
        height: auto;
        min-height: 36.25vw;
    }
    .swiper-variant-1 .swiper-slide-caption {
        padding: 60px 0 115px;
    }
    .swiper-variant-1 .slider-header {
        font-size: 36px;
        margin-top: 20px;
    }
    .swiper-variant-1 .slider-text {
        display: block;
    }
}

@media (min-width: 992px) {
    .swiper-variant-1 .swiper-slide-caption {
        padding: 100px 0 155px;
    }
    .swiper-variant-1 .swiper-button-prev,
    .swiper-variant-1 .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-59%);
        z-index: 10;
        display: block;
        transition: .3s all ease;
    }
    .swiper-variant-1 .swiper-button-prev {
        left: 5.1%;
        transform: scale(-1, 1);
    }
    .swiper-variant-1 .swiper-button-next {
        right: 5.1%;
    }
}

@media (min-width: 1200px) {
    .swiper-variant-1 .slider-header {
        font-size: 50px;
    }
    .swiper-variant-1 .swiper-button-prev {
        left: calc(50vw - 1170px / 2 + 15px + (1170px / 12) * 0);
    }
    .swiper-variant-1 .swiper-button-next {
        right: calc(50vw - 1170px / 2 + 15px + (1170px / 12) * 0);
    }
}

@media (min-width: 1600px) {
    .swiper-variant-1 .swiper-button-prev {
        left: calc(50vw - 1170px / 2 - 65px + (1170px / 12) * 0);
    }
    .swiper-variant-1 .swiper-button-next {
        right: calc(50vw - 1170px / 2 - 65px + (1170px / 12) * 0);
    }
    .swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
        height: auto;
        min-height: 638px;
    }
}
