.short-form-wrapper { 
    background-color: #253746;
    border-radius: 15px;
    height: 0;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    left: 0;
    bottom: 0;

}

.short-form-wrapper .form-wrapper {
    background-color: #253746;
 /*    border-radius: 15px; */
    padding:  25px;
    position: absolute;
    width: 330px;
    height: 610px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.swiper-pagination {
    position: absolute;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}


.short-form-wrapper-btn {
    border-radius: 15px;
    display: flex;
    justify-content: center;   
}
.short-form-wrapper .btn-wrap { 
    border-color: #579eab;
    background-color: #579eab;
    border-radius: 15px;
    padding: 4px 20px;
    font-weight: 500;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.short-form-wrapper .short-form {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.short-form-wrapper .form-input .form-control-has-validation .wrap {
    border-radius: 15px;
    margin-top: 10px;

}

.short-form-wrapper .inp-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.short-form-wrapper .lab-set {
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.short-form-wrapper .inp-set {
    padding: 10px;
    border-radius: 15px;
    width: 65px;
    height: 40px;
    background-color:#fff;
    border:none;
}

.short-form-wrapper .range {
    border-radius: 15px;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.short-form-wrapper .checkbox {
    border-radius: 15px;
    position: absolute;
    margin-top: 19px;
    width: 21px;
    height: 16px;
}

.short-form-wrapper .lab-set-sec {
    border-radius: 15px;
    font-size: 9px;
    color: #fff; 
    margin-top: 15px;
    text-align: center;
    margin-left: 20px;
}

@media ( max-width:1600px ) {
    .short-form-wrapper .form-wrapper {
        height: 585px;
    }
}

@media ( max-width:1200px ) {     
    .short-form-wrapper .form-wrapper {
       height: 555px;
    }
}

@media ( max-width:1024px ) {
    .short-form-wrapper .form-wrapper {
        height: 554px;
    }
}

@media ( max-width:991px ) {
    .short-form-wrapper .form-wrapper{
        height: 485px;
    }
    .swiper-container-horizontal > .swiper-pagination{
        left: 98px;
    }
}

@media ( max-width: 768px) {
    .swiper-container-horizontal > .swiper-pagination{
        left: 98px;
    }
}

@media ( max-width:767px ) {
    .short-form-wrapper .form-wrapper {
        width: 100%;
        height: 565px;
    }
    .swiper-wrapper {
        display:none;

    }
    .swiper-pagination {
        display:none;
    }
    .container-custom {
        max-width: 100%;
    }
} 
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .short-form-wrapper .form-wrapper {
        height: 580px !important;

    }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
    .short-form-wrapper .form-wrapper {
        height: 560px !important;

    }
    .swiper-container-horizontal > .swiper-pagination {
        left: 175px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .short-form-wrapper .form-wrapper {
        height: 540px !important;
    }
    .short-form-wrapper .form-input, .short-form-wrapper .select2-selection, .short-form-wrapper .input-group {
        margin-top: 7px !important;
        margin-bottom: 7px !important;

    }

}
@media  screen and (max-width: 425px) {
    .short-form-wrapper .form-wrapper {
        width: 100%;
        height: 565px;
    }
    .short-form-wrapper .lab-set-sec {
        font-size: 8px;

    }
    .short-form-wrapper-btn {
        margin-top: 5px;
    }
}

.short-form-wrapper .form-input {
    margin-top: 10px;
    height: 40px;
}

.short-form-wrapper .form-input:focus{
    border: 1px solid #579eab;
}

.short-form-wrapper .form-control {
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.short-form-wrapper .form-control:focus{
    border: 1px solid #579eab;
}

.short-form-wrapper .form-input, 
.short-form-wrapper .select2-selection,
.short-form-wrapper .input-group {
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1c1b32;
} 

.inp-set:focus {
    border: 1px solid #579eab;
}

.short-form-wrapper .ui-widget-header {
    background: #579eab;
}

.short-form-wrapper .ui-state-active, 
.short-form-wrapper .ui-widget-content .ui-state-active {
    background: #1c1b32;
    border: 1px solid #579eab;
}
   
.short-form-wrapper .ui-state-default,.short-form-wrapper .ui-widget-content .ui-state-default {
    background: #253746 ;
    border-radius: 15px;
}

.short-form-wrapper .ui-widget.ui-widget-content {
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.blog-aside-item .short-form-wrapper {
    position: relative;
}

.blog-aside-item .form-wrapper {
    width: 270px;
    top: 10px;
}

.blog-aside-item .short-form-wrapper .on_other_pages {
    position: relative;
    top: 10px;
}

.sticky {
    position: fixed;
    z-index: 101;
}
.stop {
position: relative;
z-index: 101;
}
